:root{
    /* Font */

    --main-txt-cl: #434455;
    --focused-txt-cl: #4D5AE5;
    --dark-txt-cl:#2E2F42;
    --grey-txt-cl:#8E8F99;
    --accent-txt-cl:#E7E9FC;
    --light-txt-cl:#F4F4FD;
    --white-txt-cl: #FFFFFF;
    --button-cl:#404BBF;
    

    --success:#31D0AA;
    --success-75:rgba(49, 208, 170, 0.75);
    --success-50:rgba(49, 208, 170, 0.50);
    --success-10:rgba(49, 208, 170, 0.10);

    --items:1;
    --items:2;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
 margin: 0;   
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
body{
    font-family:"Roboto", sans-serif;
    color: var(--main-txt-cl);
}
.container{
    /* Phone Screen */
    min-width: 320px;
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    
}
/* Tablet Screen */
@media screen and (min-width:768px) {
    .container{
        max-width: 736px;
    }  
   
}
/* Desktop Screen */
@media screen and (min-width:1200px) {
    .container{
        max-width: 1200px;   
    } 
}


.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
/* header */
.header{
    background-color:var(--white-txt-cl);
    padding-top: 24px;
   
    /* padding-bottom: 24px; */
    border: 1px solid;
    border-color: var(--accent-txt-cl);
    border-left:none;
    border-top: none;
    border-right:none;
    
}

.flex-list{
    display: flex;

}
.logo{
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    /* margin-right: 76px; */
    font-weight: 800;
    /* padding-bottom: 24px; */
    display: flex;
    justify-content: center;
}
@media screen and (min-width:768px) {  
    .logo{
        text-decoration: none;
        font-family: "Raleway", sans-serif;
        margin-right: 76px;
        font-weight: 800;
        padding-bottom: 24px;
        display: contents;
    }
}
.logo-color-1{
    color:var(--focused-txt-cl);
    
}
.logo-color-dark{
    color: var(--dark-txt-cl);
}
.navigation{
    text-decoration: none;
font-weight: 500;
color:var(--dark-txt-cl);
display: block;
position: relative;
padding-bottom: 24px;

transition-property: color;
transition-duration:  250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.flex-list-header{
 display: flex;
 flex-wrap: wrap;
}
@media screen and (min-width:768px) {  
    .flex-list-header{
        justify-content: space-between;
       }
}

.navigation.current::after{
    content: '';
    position: absolute; 
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--focused-txt-cl);
    transform: translateY();
}
.container-pl{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (min-width:768px) {  
    .container-pl{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }
}
.portfolio{
    color: var(--focused-txt-cl);
}
.studio{
    color: var(--focused-txt-cl);
}
.navigation:focus{
    color: var(--focused-txt-cl);
}
.navigation:hover{
    color:var(--focused-txt-cl);
}
.navigation-general{
    list-style-type: none;
    gap: 40px;
    padding-right: 10px;
    display: none;
}
@media screen and (min-width:768px) {  
    .navigation-general{
        list-style-type: none;
        gap: 40px;
        padding-right: 10px;
        margin-left: 120px;
        display: contents;
        display: flex;
    }
}
@media screen and (min-width:1200px) {
    .navigation-general{
        list-style-type: none;
        gap: 40px;
        padding-right: 10px;
        margin-left: 76px;
        display: contents;
        display: flex;
    }
}
.contacts{
    text-decoration: none;
font-size: 16px;
line-height: 1.5;
color:var(--main-txt-cl);
font-style: normal;

transition-property: color;
transition-duration:  250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover{
    color: var(--focused-txt-cl);
}
.contacts:focus{
    color: var(--focused-txt-cl);
}
.contacts-general{
    list-style-type: none;
    gap: 40px;
    display: none;
}
@media screen and (min-width:768px) {  
    .contacts-general{
        list-style-type: none;
        gap: 4px;
        display: contents;
        display: flex;
        flex-direction: column;
    flex-wrap: wrap;
    }
}
@media screen and (min-width:1200px) {
    .contacts-general{
        list-style-type: none;
        display: contents;
        display: flex;        
        flex-wrap: wrap;
        flex-direction: row;
        gap: 40px;
    }
}

/* Studio Main Page */
/* section 1/2 */
/* hero */
.title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    width: 330px;
    letter-spacing: 0.02em;
    color: var(--white-txt-cl);
    text-align: center;
    max-width: 498px;
    margin: 0 auto;
    margin-bottom: 48px;
}
@media screen and (min-width:768px) {  
    .title{
        font-weight: 700;
        font-size: 56px;
        line-height: 1.1;        
        letter-spacing: 0.02em;
        color: var(--white-txt-cl);
        text-align: center;
        width: 498px;
        margin: 0 auto;
        margin-bottom: 48px;
    }
}
@media screen and (min-width:1200px) {
    .title{
        font-weight: 700;
        font-size: 56px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: var(--white-txt-cl);
        text-align: center;
        width: 498px;
        margin: 0 auto;
        margin-bottom: 48px;
    }
}
.button-main{
    display: inline-block;
    padding: 16px 32px;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
align-items: center;
letter-spacing: 0.04em;
color: var(--white-txt-cl);
background-color: var(--focused-txt-cl);
cursor: pointer;
border: none;
border-radius: 4px;

transition-property: background-color;
transition-duration:  250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-main:hover,
.button-main:focus{
    background:var(--button-cl);
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.modal-container{
    padding-top: 72px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;

}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: var(--white-txt-cl);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
   
}
.hero{
    background-color: var(--dark-txt-cl);
    text-align:center;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/Dark-bg_mob@1x.png);
    background-repeat: no-repeat;
    background-size:cover;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){
    .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/Dark-bg_mob@2x.png);
    }
  }
@media screen and (min-width:481px){
    .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
     url(../images/Dark-bg_tab@1x.png);
    }
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){
    .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/Dark-bg_tab@2x.png);
    }
  }
}
@media screen and (min-width:769px){
    .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
     url(../images/people-office\ 1_desk@1x.png);
    }
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){
    .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/people-office\ 1_desk@2x.png);
    }
  }
}
@media screen and (min-width:1200px) {
    .hero{
        padding-top: 188px;
        padding-bottom: 188px;       
    }
}
.modal-pr{
    display: flex;
    gap: 8px;
    margin-top: 20px;
    margin-bottom: 24px;
}
.check-box{
   position: absolute;
   opacity: 0;
}
.check-box+label::before{
    content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1.25px solid #2E2F42;
    border-radius: 2px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
    
}
.check-box:checked+label::before {
    border-color: var(--focused-txt-cl);
    background-color: var(--focused-txt-cl);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 8'%3e%3cpath fill='%23fff' d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z'/%3e%3c/svg%3e");
  }
.modal-title{

width: 360px;
height: 24px;
left: 540px;
top: 152px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.02em;
color: var(--dark-txt-cl);
margin-bottom: 16px;

}
.close-btn{
    position: absolute;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    top: 5%;
    left: 88%;

    transition-property:background-color fill;
   transition-duration:  250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus{
    background-color: var(--button-cl);
    fill: var(--white-txt-cl);
}
.close-icon{
    left: 0;
    top: 0;
}
.name-box{
width: 360px;
height: 40px;
left: 0px;
top: 84px;
margin-top: 20px;


border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
padding-left: 38px;
outline:none;

transition-property:border color;
transition-duration:  250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-box::placeholder{
width: 57px;
height: 16px;
left: 16px;
top: 224px;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.04em;
color: rgba(117, 117, 117, 0.5);
}
.comment-box:hover,
.comment-box:focus{
    border:1px solid var(--focused-txt-cl);  
}
.person-icon{
    position: absolute;
    width: 12px;
    height: 12px;
    margin-top: 38px;
    left: 10%;
    top: 18%;

    transition-property:fill;
    transition-duration:  250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.tell-icon{
    position: absolute;
    width: 13px;
    height: 13px;
    margin-top: 38px;
    left: 10%;
    top: 29.5%;

    transition-property:fill;
    transition-duration:  250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
textarea{
    resize: none;

}
.mail-icon{
    position: absolute;
    width: 15px;
    height: 12px;
    margin-top: 38px;
    left: 10%;
    top: 41.5%;

    transition-property:fill;
    transition-duration:  250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} 
.comment-box{
   box-sizing: border-box;
   margin-top: 20px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   padding-left: 16px;
   padding-top: 8px;
   border-radius: 4px;
   outline:none;

   transition-property:border color;
   transition-duration:  250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-link{
    color: var(--focused-txt-cl);
}
.form-title{
    position: absolute; 
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--grey-txt-cl);
}
.form-field{
    display: flex;
  flex-direction: column;
  margin-bottom: 11px;

    transition-property:fill;
    transition-duration:  250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input:focus,
.form-field input:hover {
    border: 1px solid;
    border-color: var(--focused-txt-cl);
}
.form-field input:focus + svg,
.form-field input:hover + svg {
    fill: var(--focused-txt-cl);
}
.modal-sub-btn{
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    
    width: 169px;
    height: 56px;
    left: 635px;
    top: 584px;
    background: var(--focused-txt-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    /* Button Text */
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
letter-spacing: 0.04em;
color: var(--white-txt-cl);

transition-property: background-color;
transition-duration:  250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-sub-btn:hover,
.modal-sub-btn:focus{
    background-color:var(--button-cl);
}
.privacy{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    display: flex;
    color: var(--grey-txt-cl);
}
/* section 2 */
.social-icon{
    background-color:var(--light-txt-cl);
    height: 112px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
   display: none;
}
@media screen and (min-width:1200px) {
    .social-icon{
        background-color:var(--light-txt-cl);
        height: 112px;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.flex-list-a{
    margin-bottom: 4px;
}
.section-two{
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width:1200px) {
    .section-two{
        padding-top: 120px;
        padding-bottom: 120px;
      }
}
.list-section-one{
gap: 72px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
@media screen and (min-width:768px) {
    .list-section-one{
        gap: 24px;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        }
}

.advantages{
    font-weight: 700;
font-size: 36px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--dark-txt-cl);
margin-bottom: 8px;
text-align: center;
}
@media screen and (min-width:768px) {
    .advantages{
        font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--dark-txt-cl);
    margin-bottom: 8px;
    text-align: left;
    }
}
@media screen and (min-width:1200px) {
    .advantages{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color:var(--dark-txt-cl);
        margin-bottom: 8px; 
        text-align: left;
    }
}
.description{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
width: 387px;
}
@media screen and (min-width:768px) {
    .description{
        font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 336px;
    }
}
@media screen and (min-width:1200px) {
    .description{
        font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    } 
}
.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

/* section 3 */
.section-three{
    padding-bottom: 120px;
    display: none;
}
@media screen and (min-width:1200px) {
    .section-three{
        padding-bottom: 120px;
        display: contents;
    }
}
.image-list{
    gap: 24px;
    flex-wrap: wrap;
}
.title-section{
    font-weight: 700;
font-size: 36px;
line-height: 1.12;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color:var(--dark-txt-cl);
margin-bottom: 24px;
}
/* section 4 */
.flex-elements{
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    
}
@media screen and (min-width:768px) {
    .flex-elements{
        display: flex;
        flex-wrap: wrap;
        gap: 90px;
        --items:2;
        --indent:24px;
        flex-basis: calc((100%-(var(--items)-1)*var(--indent))/var(--items));
    }
}
@media screen and (min-width:1200px) {
    .flex-elements{
        display: flex;
        gap: 0px;
        flex-wrap: wrap;
    }
}
.section-four{
    padding-top: 120px;
    padding-bottom: 120px;
    justify-content: center;
    align-items: center;
}
.social-bg{
    background-color:var(--focused-txt-cl) ;
    border-radius: 50%;
    width: 40px;
height: 40px;
justify-content: center;
align-items: center;
display: flex;

transition-property: background-color;
transition-duration:  250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-bg:hover{
    background-color: var(--button-cl);
}
.social-bg:focus{
background-color: var(--button-cl);
}
.social-list{
    display: flex;
    gap: 24px;
    margin-left: 16px;
}
.banner-grey{
    background-color: var(--light-txt-cl);
}
.name{
    font-weight: 500;
font-size: 20px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color:var(--dark-txt-cl);
margin-bottom: 8px;
}
.photo-description{
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.member{
    background-color:var(--white-txt-cl);
    padding-top: 32px;
    padding-bottom: 32px;
}
.member-list{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    margin-top: 48px;
}
/* section 5 */

.section-five{
    padding-top: 96px;
    padding-bottom: 96px;
}
@media screen and (min-width:1200px) {
    .section-five{
        padding-top: 120px;
        padding-bottom: 120px;
    }
}
.brand-item{
    margin-top: 48px;
}
.brands-list{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}
.link-h{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 168px;
    height: 88px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    color: #8E8F99; 

}
.link-h:hover,
.link-h:focus{
    border:1px solid var(--focused-txt-cl);
    color:var(--focused-txt-cl);

    transition-property:border color;
    transition-duration:  250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-five{
fill: currentColor;
}
/* footer */
.footer{
    background-color:var(--dark-txt-cl);
    padding-top: 96px;
    padding-bottom: 96px;
    
}
@media screen and (min-width:768px) {
    .footer{
        background-color:var(--dark-txt-cl);
        padding-top: 96px;
        padding-bottom: 96px;
        padding-left: 108px;
    }

}
@media screen and (min-width:1200px) {
    .footer{
        background-color:var(--dark-txt-cl);
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 0px;
        
    }
}
.footer-form{
    margin-top: 16px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
@media screen and (min-width:768px) {
    .footer-form{
        margin-top: 16px;
        justify-content: center;
        display: contents;
        flex-wrap: row;
    }
}
@media screen and (min-width:1200px) {
    .footer-form{
        margin-top: 16px;
        justify-content: center;
        display: contents;
        flex-wrap: row;
    }
}
.footer-div{
    justify-content: center;
}
.logo-color-light{
    color: var(--light-txt-cl);
}
.footer-description{

    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--accent-txt-cl);
width: 264px;
height: 72px;
margin-top: 16px;
}
.footer-title{
    /* width: 96px; */
    height: 24px;
    left: 540px;
    top: 2988px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-txt-cl);
    display: flex;
    justify-content: center;
}
@media screen and (min-width:768px) {
    .footer-title{
        width: 97px;
        height: 24px;
        left: 540px;
        top: 2988px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--white-txt-cl);
        margin-bottom: 16px;
        
    }
}
@media screen and (min-width:1200px) {
    .footer-title{
        width: 97px;
        height: 24px;
        left: 540px;
        top: 2988px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--white-txt-cl);
        
        
    }
}
.social-bg-footer{
    background-color:var(--main-txt-cl) ;
    border-radius: 50%;
    width: 40px;
height: 40px;
margin-top: 16px;
display: flex;
align-items: center;
justify-content: center;

transition-property: background-color;
transition-duration:  250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width:768px) {
    .social-bg-footer{
        background-color:var(--main-txt-cl) ;
        border-radius: 50%;
        width: 40px;
    height: 40px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition-property: background-color;
    transition-duration:  250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}
@media screen and (min-width:1200px) {
    .social-bg-footer{
        background-color:var(--main-txt-cl) ;
        border-radius: 50%;
        width: 40px;
    height: 40px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition-property: background-color;
    transition-duration:  250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.social-bg-footer:hover{
    background-color: var(--success);
}
.social-bg-footer:focus{
    background-color: var(--success);
}
.social-list-footer{
    display: flex;
    gap: 16px;
   
}
.footer-list{
    display: flex;
}
.container-footer{
    
    padding-top: 72px;
}
@media screen and (min-width:768px) {
    .container-footer{
       margin-left: 24px;
        padding-top: 0px;
    }
}
@media screen and (min-width:1200px) {
    .container-footer{
        margin-left: 120px;
        padding-top: 0px;
    }
}
.subscribe{
    /* margin-left: 80px; */
    position: relative;
    padding-top: 72px;
}
@media screen and (min-width:768px) {
    .subscribe{
        position: relative;
        padding-top: 72px;
    }
}
@media screen and (min-width:1200px) {
    .subscribe{
        margin-left: 80px;
        position: relative;
        padding-top: 0px;
    }
}
.form-section{
    display: flex;
}
.subs-btn{
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 24px;
gap: 16px;
background: var(--focused-txt-cl);
border-radius: 4px;
color: var(--white-txt-cl);
width: 165px;
height: 40px;
margin-left: 24px;
cursor: pointer;
border: none;
border-radius: 4px;

transition-property: background-color;
transition-duration:  250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subs-btn:hover,
.subs-btn:focus{
    background-color: var(--button-cl);
}
.section-sub{
    display: flex;
    margin-top: 16px;
}
.send-icon{
    fill: var(--white-txt-cl);
}
.footer-box{
    box-sizing: border-box;
    background-color: var(--dark-txt-cl);
    color: var(--white-txt-cl);
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-left: 16px;
    outline: none;
    margin-bottom: 16px;
}
@media screen and (min-width:768px) {
    .footer-box{
        box-sizing: border-box;
        background-color: var(--dark-txt-cl);
        color: var(--white-txt-cl);
        width: 264px;
        height: 40px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding-left: 16px;
        outline: none;
        margin-bottom: 0px;
    }
}
@media screen and (min-width:1200px) {
    .footer-box{
        box-sizing: border-box;
        background-color: var(--dark-txt-cl);
        color: var(--white-txt-cl);
        width: 264px;
        height: 40px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding-left: 16px;
        outline: none;
        margin-bottom: 0px;
    }
}

/* Portfolio Main Page */
.service{
    background-color: var(--white-txt-cl);
    border: 1px solid;
    border-color: var(--accent-txt-cl);
    border-top: none;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}
.project-card:hover{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  
}
.project-card{
    display: block;
    text-decoration: none;
    color: inherit;

    transition-property:box-shadow;
    transition-duration:  250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card:hover .product-text{
    opacity: 1;
}
.project-card:hover .product-overlay{
    transform: translateY(0);
}
.product-thumb{
    position: relative;
    overflow: hidden;
}
.txt{
    position: absolute;
width: 296px;
height: 96px;
left: 32px;
top: 40px;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--light-txt-cl);
}
.product-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #404BBF;
    color: #E7E9FC;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-section{
    padding-top: 96px;
    padding-bottom: 120px;
}
.portfolio-btn{
    margin-bottom: 72px;
    justify-content: center;
align-items: center;

}
.navigation-btn{
background: var(--light-txt-cl);
border: 1px solid #E7E9FC;
border-radius: 4px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var(--focused-txt-cl);
padding: 12px 24px;
height: 48px;

transition-property:background-color;
    transition-duration:  250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.btn-general{
    margin-right: 24px;
    
}
.navigation-btn:hover{
background-color: var(--focused-txt-cl);
color:var(--white-txt-cl);
cursor: pointer;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.navigation-btn:focus{
background-color: var(--focused-txt-cl);
color: var(--white-txt-cl);
cursor: pointer;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.service-title{
    font-weight: 500;
font-size: 20px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--dark-txt-cl);
margin-bottom: 8px;
}
.service-topic{
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.flex-elements{
    justify-content: center;
    gap: 24px;
    
}
.description-section{
    border: 1px solid;
    border-color: var(--accent-txt-cl);
    border-top: none;
}
.portfolio-sec-82{
    margin-top: 48px;
    margin-bottom: 51px;
}
.portfolio-list{
    flex-wrap: wrap;
    gap: 48px 24px;
    display: flex;
    
}
/* Mobile Styles */
.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin: 0;
    margin-left: auto;
    margin-top: auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
  
  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
    fill: var(--focused-txt-cl);
  }
  
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color:var(--white-txt-cl);
    z-index: 999;
    overflow: hidden;
    overflow-y: scroll;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  
  .menu-container.is-open {
    transform: translateX(0);
    padding-top: 80px;
    padding-bottom: 40px;
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
  }
  
  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 151px;
  }
  
  .mobile-menu .link {
    display: block;
    padding: 10px;
    color: var(--dark-txt-cl);
    text-decoration: none;
  }
  
  .mobile-elements{
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--dark-txt-cl);
}
.link:hover,
.link:focus{
    color: var(--focused-txt-cl);
}
.mobile-contacts{
   margin-top:284px;
}
.phone-link{
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    text-transform: capitalize;
    color: var(--dark-txt-cl);
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}
.phone-m{
    margin-bottom: 40px;
}
.mail-link{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--main-txt-cl);
flex: none;
order: 1;
flex-grow: 0;
text-decoration: none;
}
.mail-link:hover,
.mail-link:focus{
    color: var(--focused-txt-cl);
}
.phone-link:hover,
.phone-link:focus{
    color: var(--focused-txt-cl);
}
.social-list-mobile{
    display: flex;
    gap: 56px;
    margin-top: 48px;
}
.social-bg-mobile{
    background-color:var(--button-cl);
    border-radius: 50%;
    width: 40px;
height: 40px;
margin-top: 16px;
display: flex;
align-items: center;
justify-content: center;

transition-property: background-color;
transition-duration:  250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-bg-mobile:hover{
    background-color: var(--focused-txt-cl);
}
.social-bg-mobile:focus{
    background-color:var(--focused-txt-cl) ;
}